.container
  .row.goods-cont
    .col-xs-3
      - var count = 0;
      - var count4 = 4;
      - var count8 = 8
      each val, index in ['Дорожные ограждения', 'Автопавильоны', 'Фундаменты', 'Емкости для хранения', 'Битум']
        ul.goods-list
            li.goods-item
              a.goods-item_link(href='#')= val
              .goods-item_icon(class=`goods-item_icon${count + index}`)
    .col-xs-3
      each val, index in ['Мостовые ограждения', 'Дорожные знаки', 'Оборудование навесное', 'Производственное оборудование']

        ul.goods-list
            li.goods-item
              a.goods-item_link(href='#')= val
              .goods-item_icon(class=`goods-item_icon${count4 + index}`)
    .col-xs-3
      each val, index in ['Опоры освещения', 'Гофрированные трубы', 'Кронштейны', 'Рамные конструкции']
        ul.goods-list
            li.goods-item
              a.goods-item_link(href='#')= val
              .goods-item_icon(class=`goods-item_icon${count8 + index}`)