.container
  .row.goods-cont
    - var count = 0;
    - var count4 = 4;
    - var count8 = 8
    .col-xs-3
      each val, index in [{name:'Дорожные ограждения', link: "../pages/catalog/dor-ogr/dor_ogr.html" },{name:'Фундаменты', link: "../pages/catalog/fundaments/fundaments.html" },{name:'Емкости для хранения', link: "../pages/catalog/emkosti/emkosti.html" },{name:'Битум', link: "../pages/catalog/bitum/bitum.html" }, {name:'Автопавильоны', link: "../pages/catalog/avtopaviloni/avtopaviloni.html" }]
        ul.goods-list
            li.goods-item
              a.goods-item_link(href=`${val.link}`)= val.name
              .goods-item_icon(class=`goods-item_icon${count + index}`)
    .col-xs-3
      each val, index in [{name:'Мостовые ограждения', link: "../pages/catalog/most-ogr/most_ogr.html" },{name:'Дорожные знаки', link: "../pages/catalog/dor-znaki/dor-znaki.html" },{name:'Оборудование навесное', link: "../pages/catalog/oborud-navesn/oborud-navesn.html" },{name:'Производственное оборудование', link: "../pages/catalog/oborud-proizv/oborud-proizv.html" }, {name:'Рамные конструкции', link: "../pages/catalog/ramnie-konstr/ramnie-konstr.html" }]
        ul.goods-list
            li.goods-item
              a.goods-item_link(href=`${val.link}`)= val.name
              .goods-item_icon(class=`goods-item_icon${count + index}`)
    .col-xs-3
      each val, index in [{name:'Опоры освещения', link: "../pages/catalog/opori-osv/opori-osv.html" },{name:'Фундаменты', link: "../pages/catalog/fundaments/fundaments.html" },{name:'Гофрированные трубы', link: "../pages/catalog/gofr-trubi/gofr-trubi.html" },{name:'Кронштейны', link: "../pages/catalog/kronshteini/kronshteini.html" }]
        ul.goods-list
            li.goods-item
              a.goods-item_link(href=`${val.link}`)= val.name
              .goods-item_icon(class=`goods-item_icon${count + index}`)