nav.mobile-menu
  input#checkbox.mobile-menu__checkbox(type='checkbox')
  label.mobile-menu__btn(for='checkbox')
    span.mobile-menu__icon
  .mobile-menu__container
    ul.mobile-menu__list
      li.mobile-menu__item
        a.mobile-menu__link.active(href=`${url}index.html`) Главная
      li.mobile-menu__item
        a.mobile-menu__link(href=`${url}pages/about.html`) О компании
      li.mobile-menu__item
        a.mobile-menu__link(href=`${url}pages/news.html`) Новости
      li.mobile-menu__item
        a.mobile-menu__link(href=`${url}pages/catalog.html`) Каталог
      li.mobile-menu__item
        a.mobile-menu__link(href=`${url}pages/docs.html`) Документы
      li.mobile-menu__item
        a.mobile-menu__link(href=`${url}pages/contacts.html`) Контакты
