//- const url is declared HERE
.nav.col-xs-6
  .container-fluid.nav-main_cont
    .row
      .col-lg-12.nav-wrapper
      - const url = 'https://td-invest.org/' //- url is declared 
        nav.nav-main
          ul.nav-main_list
            li.nav-main_item
              a.nav-main_link.active(href=`${url}index.html`) Главная
            li.nav-main_item
              a.nav-main_link(href=`${url}pages/about.html`) О компании
            li.nav-main_item
              a.nav-main_link(href=`${url}pages/news.html`) Новости 
            li.nav-main_item
              a.nav-main_link(href=`${url}pages/catalog.html`) Каталог
            li.nav-main_item
              a.nav-main_link(href=`${url}pages/docs.html`) Документы
            li.nav-main_item
              a.nav-main_link(href=`${url}pages/contacts.html`) Контакты
        include nav-mobile
                